In [135]:
# 1. Declare an empty list
empty_list = []

In [136]:
# 2. Declare a list with more than 5 items 
list_items = ['web',23,'CPP','PY','Brainrot']
print(list_items)

['web', 23, 'CPP', 'PY', 'Brainrot']

In [1]:
# 3. Find the length of your list 
list_items = ['web',23,'CPP','PY','Brainrot']
print(len(list_items))

5

In [19]:
# 4.Get the first item, the middle item and the last item of the list
list_items = ['web',23,'CPP','PY','Brainrot']
print(list_items[0])
print()
print(list_items[-1])

web
Brainrot

In [20]:
# 5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
details=['Abhishek',22,5.8,'Single','St.Antonye\'s Cottage','Kollam,Kerala']
print(details)

['Abhishek', 22, 5.8, 'Single', "St.Antonye's Cottage", 'Kollam,Kerala']

In [140]:
# 6. Declare a list variable named it_companies and assign initial values 
# Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [3]:
#7. Print the list using print()
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [21]:
# 8. Print the number of companies in the list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(len(it_companies))

7

In [5]:
# 9. Print the first, middle and last company 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies[0])
print(it_companies[len(it_companies)//2])
print(it_companies[-1])

Facebook
Apple
Amazon

In [22]:
# 10. Print the list after modifying one of the companies 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove(it_companies[0])
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [23]:
# 11. Add an IT company to it_companies 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon']
it_companies.append('Valve')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Amazon', 'Valve']

In [11]:
# 12. Insert an IT company in the middle of the companies list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.insert(2,'X')
print(it_companies)

['Facebook', 'Google', 'X', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [13]:
# 13. Change one of the it_companies names to uppercase (IBM excluded!) 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[-1]= it_companies[-1].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'AMAZON']

In [14]:
# 14. Join the it_companies with a string '#;'
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies[1] = it_companies[1] + '#;'
print(it_companies)

['Facebook', 'Google#;', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
# 15. Check if a certain company exists in the it_companies list.
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
if 'Facebook' in it_companies:
    print("Yes, it exists")
else:
    print('No, it does not exists')

Yes, it exists

In [16]:
# 16. Sort the list using sort() method 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [24]:
# 17. Reverse the list in descending order using reverse() method 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.sort(reverse=True)
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [25]:
# 18. Slice out the first 3 companies from the list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies1 = it_companies[:3]
print(companies1)

['Facebook', 'Google', 'Microsoft']

In [26]:
# 19. Slice out the last 3 companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies2 = it_companies[-4:]
print(companies2)

['Apple', 'IBM', 'Oracle', 'Amazon']

In [27]:
# 20. Slice out the middle IT company or companies from the list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies3 = it_companies[len(it_companies)//2]
print(companies3)

Apple

In [28]:
# 21. Remove the first IT company from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [29]:
# 22. Remove the middle IT company or companies from the list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove(it_companies[len(it_companies)//2])
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [30]:
# 23. Remove the last IT company from the list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.remove(it_companies[-1])
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [31]:
# 24. Remove all IT companies from the list
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.clear()
print(it_companies)

[]

In [33]:
# 25. Destroy the IT companies list 
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
del it_companies

In [34]:
# 26. Join the following lists: 
# front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux'] 
# back_end = ['Node','Express', 'MongoDB']
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
Fullstack = front_end + back_end
print(Fullstack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [36]:
# 27. After joining the lists in question 26. Copy the joined list and assign it to a 
# variable full_stack, then insert Python and SQL after Redux.
front_end = ['HTML', 'CSS', 'JavaScript', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
joined_list = front_end + back_end
full_stack = joined_list.copy()
index_of_redux = full_stack.index('Redux')
full_stack.insert(index_of_redux + 1, 'Python')
full_stack.insert(index_of_redux + 2, 'SQL')

print(full_stack)

['HTML', 'CSS', 'JavaScript', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

#Second Set Assignment

The following is a list of 10 students ages: 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [162]:
# Sort the list and find the min and max age 
age=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
age.sort()
minage = min(age)
print(age)
print(minage)
maxage = max(age)
print(maxage)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [40]:
# Add the min age and the max age again to the list 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
min_age = min(ages)
max_age = max(ages)
ages.append(max_age)
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 26]

In [41]:
# Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
age.sort()
agelen = len(age)
if agelen % 2 == 0:
    mid1 = age[agelen // 2 - 1]
    mid2 = age[agelen // 2]
    median = (mid1 + mid2) / 2
else:
    median = age[agelen // 2]
print("Median age:", median)
print("Sorted ages:", age)

Median age: 24.0
Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [42]:
# Find the average age (sum of all items divided by their number ) 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
average_age = sum(ages) / len(ages)
print(average_age)

22.75

In [45]:
# Find the range of the ages (max minus min) 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
age_range = max(ages) - min(ages)
print(age_range)

7

In [43]:
# Compare the value of (min - average) and (max - average), use abs() method 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
min_age = min(ages)
max_age = max(ages)
average_age = sum(ages) / len(ages)
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print("min - average:", min_diff)
print("max - average:", max_diff)

min - average: 3.75
max - average: 3.25

In [168]:
# Find the middle country(ies) in the countries list
country = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
midlen = len(country)
mid = midlen//2
if midlen % 2 == 0:
    midcountry1 = country[mid-1]
    midcountry2 = country[mid]
    print(midcountry1,'and',midcountry2)
else:
    midcountry = country[mid]
    print(midcountry)

Finland

In [46]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.
country = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
midlen = len(country)
mid = midlen//2
if midlen % 2 == 0:
    first=country[:mid]
    second=country[mid:]
else:
    mid += 1
    first=country[:mid]
    second=country[mid:]
print(first)
print(second)

['China', 'Russia', 'USA', 'Finland']
['Sweden', 'Norway', 'Denmark']

In [48]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the 
# first three countries and the rest as scandic countries.
country = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print('First country :',country[0])
print('Second country :',country[1])
print('Third country :',country[2])
print('Scandic countries :',country[3:])

First country : China
Second country : Russia
Third country : USA
Scandic countries : ['Finland', 'Sweden', 'Norway', 'Denmark']