In [2]:
#Compare the values of my_age and your_age using if … else. Who is older (me or you)? 
#Use input(“Enter your age: ”) to get the age as input. 
#You can use a nested condition to print 'year' for 1 year difference in age, 'years' for 
#bigger differences, and a custom text if my_age = your_age. 

#Output: 
#Enter your age: 30 
#You are 5 years older than me.

In [ ]:
#While loop
# syntax 
#while condition: 
#   code goes here

#Example
#prints from 0 to 4 
count = 0 
while count < 5: 
    print(count) 
    count = count + 1

In [ ]:
#If we are interested to run block of code once the condition is no 
#longer true, we can use else. 
# syntax 
while condition: 
    #code goes here 
else: 
    #code goes here

In [ ]:
count = 0 
while count < 5: 
    print(count) 
    count = count + 1 
else: 
    print(count)

In [ ]:
#Break and Continue

#We use break when we like to get out of or stop the loop.
# syntax 
while condition: 
    #code goes here 
    if another_condition: 
        break

In [ ]:
#Example
count = 0 
while count < 5: 
    print(count) 
    count = count + 1 
    if count == 3: 
        break

In [ ]:
#Continue: With the continue statement we can skip the current iteration, and 
#continue with the next:
 # syntax 
while condition: 
    #code goes here 
    if another_condition: 
        continue

In [ ]:
#Example
count = 0 
while count < 5: 
    if count == 3: 
        count = count + 1 
        continue 
    print(count) 
    count = count + 1

In [ ]:
#for loop
language = 'Python' 
for letter in language: 
    print(letter)

In [ ]:
for i in range(len(language)): 
    print(language[i])

In [ ]:
numbers = (0, 1, 2, 3, 4, 5) 
for number in numbers: 
    print(number)

In [ ]:
numbers = (0,1,2,3,4,5) 
for number in numbers: 
    print(number) 
    if number == 3: 
        break

In [ ]:
numbers = (0,1,2,3,4,5) 
for number in numbers: 
    print(number) 
    if number == 3: 
        continue 
    print('Next number should be ', number + 1) if number != 5 else print("loop's end") 
    # for short hand conditions need both if and else statements 
print('outside the loop')

In [ ]:
#range function
for number in range(11): 
    print(number)   # prints 0 to 10, not including 11

In [ ]:
for number in range(11): 
    print(number)   # prints 0 to 10, not including 11 
else: 
    print('The loop stops at', number)

In [ ]:
for number in range(6): 
    pass

In [1]:
#Iterate 10 to 0 using for loop, do the same using while loop
for i in range(10, -1, -1):  # start=10, stop=-1, step=-1
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [2]:
#Write a loop that makes seven calls to print(), so we get on the output the following triangle:
  # 
  ## 
  ### 
  #### 
  ##### 
  ###### 
  #######
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

In [8]:
#Print the following pattern:
#0 x 0 = 0 
#1 x 1 = 1 
#2 x 2 = 4 
#3 x 3 = 9 
#4 x 4 = 16 
#5 x 5 = 25 
#6 x 6 = 36 
#7 x 7 = 49 
#8 x 8 = 64 
#9 x 9 = 81 
#10 x 10 = 100
for i in range(11):
    print(f"{i} x {i} = {i*i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [4]:
#Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for 
#loop and print out the items. items = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
items = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for item in items:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [10]:
#Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0, 101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
# Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(0, 101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [11]:
#Use for loop to iterate from 0 to 100 and print the sum of all numbers.
# The sum of all numbers is 5050.
total = 0
for i in range(101):
    total += i
print(total)

5050

In [12]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the 
#sum of all odds. 
sum_even = 0
sum_odd = 0

for i in range(101):
    if i % 2 == 0:
        sum_even += i
    else:
        sum_odd += i

print("Sum of evens:", sum_even)
print("Sum of odds:", sum_odd)

Sum of evens: 2550
Sum of odds: 2500

In [14]:
#This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop
fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruits = []

for i in range(len(fruits)-1, -1, -1):
    reversed_fruits.append(fruits[i])

print(reversed_fruits)

['lemon', 'mango', 'orange', 'banana']