#### Dictionaries - Exercises

In [1]:
# 1. Create an empty dictionary called dogs 
dogs = {}

In [4]:
# 2. Add name, color, breed, legs, age to the dog dictionary 
dogs = {}
dogs['name'] = 'Buddy'
dogs['color'] = 'Brown'
dogs['breed'] = 'Labrador'
dogs['legs'] = 4
dogs['age'] = 3
print(dogs)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 3}

In [6]:
# 3. Create a student dictionary and add first_name, last_name, gender, age, 
    # marital status, skills, country, city and address as keys for the dictionary 
student = {
    'first_name': 'Abhishek',
    'last_name': 'Kumar',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'SQL', 'Data Analysis'],
    'country': 'India',
    'city': 'Kerala',
    'address': '123 Street Name'
}
print(student)

{'first_name': 'Abhishek', 'last_name': 'Kumar', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'SQL', 'Data Analysis'], 'country': 'India', 'city': 'Kerala', 'address': '123 Street Name'}

In [7]:
# 4. Get the length of the student dictionary 
print(len(student))

9

In [9]:
# 5. Get the value of skills and check the data type, it should be a list 
print(student['skills'])
print(type(student['skills']))

['Python', 'SQL', 'Data Analysis']
<class 'list'>

In [10]:
# 6. Modify the skills values by adding one or two skills 
student['skills'].append('Machine Learning')
student['skills'].append('Deep Learning')
print(student['skills'])

['Python', 'SQL', 'Data Analysis', 'Machine Learning', 'Deep Learning']

In [11]:
# 7. Get the dictionary keys as a list 
print(list(student.keys()))

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

In [12]:
# 8. Get the dictionary values as a list 
print(list(student.values()))

['Abhishek', 'Kumar', 'Male', 22, 'Single', ['Python', 'SQL', 'Data Analysis', 'Machine Learning', 'Deep Learning'], 'India', 'Kerala', '123 Street Name']

In [13]:
# 9. Change the dictionary to a list of tuples using items() method 
print(list(student.items()))

[('first_name', 'Abhishek'), ('last_name', 'Kumar'), ('gender', 'Male'), ('age', 22), ('marital_status', 'Single'), ('skills', ['Python', 'SQL', 'Data Analysis', 'Machine Learning', 'Deep Learning']), ('country', 'India'), ('city', 'Kerala'), ('address', '123 Street Name')]

In [14]:
# 10. Delete one of the items in the dictionary 
del student['address']
print(student)

{'first_name': 'Abhishek', 'last_name': 'Kumar', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'SQL', 'Data Analysis', 'Machine Learning', 'Deep Learning'], 'country': 'India', 'city': 'Kerala'}

In [15]:
# 11. Delete one of the dictionaries
del student