### Sets - Exercises

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26} 
B = {19, 22, 20, 25, 26, 24, 28, 27} 
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [1]:
# 1. Find the length of the set it_companies 
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
print(len(it_companies))

7

In [2]:
# 2.Add 'Twitter' to it_companies 
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
it_companies.add("Twitter")

print(it_companies)

{'Apple', 'Amazon', 'Google', 'Facebook', 'Twitter', 'IBM', 'Oracle', 'Microsoft'}

In [4]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
it_companies.update(["Valve","Infosys","Fromsoft"])

print(it_companies)

{'Oracle', 'Google', 'Facebook', 'Fromsoft', 'IBM', 'Infosys', 'Apple', 'Valve', 'Microsoft', 'Amazon'}

In [5]:
# 4. Remove one of the companies from the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('IBM')
print(it_companies)

{'Apple', 'Amazon', 'Google', 'Facebook', 'Oracle', 'Microsoft'}

In [6]:
# 5. What is the difference between remove and discard 
# remove() will raise an error if the element is not found in the set
# discard() will not raise an error if the element is not found

In [7]:
# 6. Join A and B 
A = {1, 2, 3}
B = {3, 4, 5}

joined_set = A.union(B)
print(joined_set)

{1, 2, 3, 4, 5}

In [9]:
# 7. Find A intersection B
A = {1, 2, 3}
B = {3, 4, 5}

intersection_set = A.intersection(B)
print(intersection_set)

{3}

In [10]:
# 8. Is A subset of B A = {1, 2, 3}
B = {3, 4, 5}

print(A.issubset(B))

False

In [11]:
# 9. Are A and B disjoint sets 
A = {1, 2, 3}
B = {3, 4, 5}

print(A.isdisjoint(B))

False

In [12]:
# 10. Join A with B and B with A A = {1, 2, 3}
B = {3, 4, 5}

print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [13]:
# 11. What is the symmetric difference between A and B 
A = {1, 2, 3}
B = {3, 4, 5}

print(A.symmetric_difference(B))

{1, 2, 4, 5}

In [14]:
 # 12. Delete the sets completely 
A = {1, 2, 3}
B = {3, 4, 5}

del A
del B

In [15]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger? 
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages_set = set(ages)

print("Length of list:", len(ages))
print("Length of set:", len(ages_set))
print("Bigger length:", "list" if len(ages) > len(ages_set) else "set")

Length of list: 10
Length of set: 6
Bigger length: list

In [16]:
# 14. "I am a teacher and I love to inspire and teach people."
# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people."
words = sentence.split()
unique_words = set(words)
print("Unique words:", unique_words)
print("Number of unique words:", len(unique_words))

Unique words: {'inspire', 'to', 'a', 'am', 'love', 'teacher', 'I', 'teach', 'and', 'people.'}
Number of unique words: 10

In [16]:
# 15. Explain the difference between the following data types: string, list, tuple and set 
# string: A sequence of characters, e.g., "hello", immutable.
# list: An ordered collection of items, mutable, e.g., [1, 2, 3].
# tuple: An ordered collection of items, immutable, e.g., (1, 2, 3).
# set: An unordered collection of unique items, mutable, e.g., {1, 2, 3}.