### Exercises: Tuples

In [1]:
# 1. Create an empty tuple 
empty_tuple = ()
print(empty_tuple)

()

In [2]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine) 
siblings = ('Anita', 'Ravi', 'Sita', 'Rahul')
print(siblings)

('Anita', 'Ravi', 'Sita', 'Rahul')

In [3]:
# 3. Join brothers and sisters tuples and assign it to siblings 
brothers = ('Ravi', 'Rahul')
sisters = ('Anita', 'Sita')

siblings = brothers + sisters
print(siblings)

('Ravi', 'Rahul', 'Anita', 'Sita')

In [4]:
# 4. How many siblings do you have? 
print(len(siblings))

4

In [5]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members 
family_members = siblings + ('Father', 'Mother')
print(family_members)

('Ravi', 'Rahul', 'Anita', 'Sita', 'Father', 'Mother')

In [6]:
# 6. Unpack siblings and parents from family_members 
*all_siblings, father, mother = family_members
print("Siblings:", all_siblings)
print("Father:", father)
print("Mother:", mother)

Siblings: ['Ravi', 'Rahul', 'Anita', 'Sita']
Father: Father
Mother: Mother

In [7]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and 
# assign it to a variable called food_stuff_tp.
fruits = ('apple', 'banana', 'mango')
vegetables = ('carrot', 'spinach', 'potato')
animal_products = ('milk', 'egg', 'cheese')

food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('apple', 'banana', 'mango', 'carrot', 'spinach', 'potato', 'milk', 'egg', 'cheese')

In [9]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['apple', 'banana', 'mango', 'carrot', 'spinach', 'potato', 'milk', 'egg', 'cheese']

In [10]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list. 
# Using the list version
middle_index = len(food_stuff_lt) // 2
if len(food_stuff_lt) % 2 == 0:
    middle_items = food_stuff_lt[middle_index-1:middle_index+1]
else:
    middle_items = [food_stuff_lt[middle_index]]

print("Middle item(s):", middle_items)

Middle item(s): ['spinach']

In [11]:
# 10.  Slice out the first three items and the last three items from food_staff_lt list
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]

print("First three items:", first_three)
print("Last three items:", last_three)

First three items: ['apple', 'banana', 'mango']
Last three items: ['milk', 'egg', 'cheese']

In [12]:
# 11. Delete the food_staff_tp tuple completely 
del food_stuff_tp

In [13]:
# 12. Check if an item exists in tuple: 
# Check if 'Estonia' is a nordic country 
# Check if 'Iceland' is a nordic country 
# nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True